<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MetroDBContext" connectionString="Data Source=125.212.216.23;Initial Catalog=MetroDB;Persist Security Info=True;User ID=WMSUser" providerName="System.Data.SqlClient" />
    <add name="PlantDBContext" connectionString="Data Source=195.184.11.235;Initial Catalog=PlantDB;Persist Security Info=True;User ID=WMSUser;password=WMSU2008" providerName="System.Data.SqlClient" />
    <add name="SwireDBEntities" connectionString="metadata=res://*/WMSModel.csdl|res://*/WMSModel.ssdl|res://*/WMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.212.248.71;initial catalog=SwireDB;persist security info=True;user id=WMSUser;password=WM$2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PfsDBEntities" connectionString="metadata=res://*/PfsDB.PfsDB.csdl|res://*/PfsDB.PfsDB.ssdl|res://*/PfsDB.PfsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=195.184.11.230;initial catalog=PfsDB;persist security info=True;user id=WMSUser;password=WMSU2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>