<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Enitity config-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Office 2019 Colorful">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="248,248,248" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="0,0,0" />
                <SvgColor Name="Brush High" Value="0,0,0" />
                <SvgColor Name="Brush Light" Value="38,38,38" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="31,73,125" />
                <SvgColor Name="Accent Paint Dark" Value="18,64,120" />
                <SvgColor Name="Accent Paint Light" Value="213,225,242" />
                <SvgColor Name="Accent Paint Lighter" Value="229,238,249" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="165,185,210" />
                <SvgColor Name="Red" Value="192,0,0" />
                <SvgColor Name="Green" Value="0,176,80" />
                <SvgColor Name="Blue" Value="23,54,93" />
                <SvgColor Name="Yellow" Value="255,255,0" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="248,248,248" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="12,12,12" />
                <SvgColor Name="Brush High" Value="38,38,38" />
                <SvgColor Name="Brush Light" Value="63,63,63" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="DarkBlue" />
                <SvgColor Name="Accent Paint Dark" Value="Navy" />
                <SvgColor Name="Accent Paint Light" Value="205,230,247" />
                <SvgColor Name="Accent Paint Lighter" Value="230,242,250" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="179,214,242" />
                <SvgColor Name="Red" Value="DarkRed" />
                <SvgColor Name="Green" Value="Green" />
                <SvgColor Name="Blue" Value="DarkBlue" />
                <SvgColor Name="Yellow" Value="DarkOrange" />
                <SvgColor Name="Black" Value="Black" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <!--Log 4net config-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/WMSLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!-- Framework config-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Thong tin ket noi den DB Test-->
  <!--<connectionStrings>
    <add name="SwireDBEntities" connectionString="metadata=res://*/WMSModel.csdl|res://*/WMSModel.ssdl|res://*/WMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=195.184.11.244;initial catalog=SwireDB;persist security info=True;user id=WMSUser;password=WMSU2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UI.Properties.Settings.SwireDBConnectionString" connectionString="Data Source=195.184.11.244;Initial Catalog=SwireDB;Persist Security Info=True;User ID=WMSUser" providerName="System.Data.SqlClient" />
    <add name="MetroDBContext" connectionString="Data Source=195.184.11.244;Initial Catalog=MetroDB;Persist Security Info=True;User ID=WMSUser;password=WMSU2008" providerName="System.Data.SqlClient" />
    <add name="TransportDBContext" connectionString="Data Source=195.184.11.244;Initial Catalog=TransportDB;Persist Security Info=True;User ID=WMSUser;password=WMSU2008" providerName="System.Data.SqlClient" />
    <add name="PlantDBContext" connectionString="Data Source=195.184.11.244;Initial Catalog=PlantDB;Persist Security Info=True;User ID=WMSUser;password=WMSU2008" providerName="System.Data.SqlClient" />
    <add name="do-sql.SwireDB.WMSUser" connectionString="XpoProvider=MSSqlServer;data source=DO-SQL;user id=WMSUser;password=WMSU2008;initial catalog=SwireDB;Persist Security Info=true" />
  </connectionStrings>-->
  <!-- Thong tin ket noi den DB That-->
  <!--Connection config-->
  <connectionStrings>
    <add name="SwireDBEntities" connectionString="metadata=res://*/WMSModel.csdl|res://*/WMSModel.ssdl|res://*/WMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=195.184.11.230;initial catalog=SwireDB;persist security info=True;user id=WMSUser;password=WMSU2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UI.Properties.Settings.SwireDBConnectionString" connectionString="Data Source=195.184.11.230;Initial Catalog=SwireDB;Persist Security Info=True;User ID=WMSUser" providerName="System.Data.SqlClient" />
    <add name="MetroDBContext" connectionString="Data Source=195.184.11.230;Initial Catalog=MetroDB;Persist Security Info=True;User ID=WMSUser;password=WMSU2008" providerName="System.Data.SqlClient" />
    <add name="PlantDBContext" connectionString="Data Source=195.184.11.230;Initial Catalog=PlantDB;Persist Security Info=True;User ID=nhhtrung;password=123456" providerName="System.Data.SqlClient" />
    <add name="TransportDBContext" connectionString="Data Source=195.184.11.230;Initial Catalog=TransportDB;Persist Security Info=True;User ID=WMSUser;password=WMSU2008" providerName="System.Data.SqlClient" />
    <add name="do-sql.SwireDB.WMSUser" connectionString="XpoProvider=MSSqlServer;data source=DO-SQL;user id=WMSUser;password=WMSU2008;initial catalog=SwireDB;Persist Security Info=true" />
    <add name="SwireDB_Connection_ForReport" connectionString="XpoProvider=MSSqlServer;data source=195.184.11.230;user id=WMSUser;password=WMSU2008;initial catalog=SwireDB;Persist Security Info=true" />
  </connectionStrings>
  <!--SQL in Entity config-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--App Setting-->
  <appSettings>
    <!-- sample=>C:\local-data-->
    <add key="PathCopyFile" value="C:\local-data" />
    <!--sample=>C:\do-fsv\File Attachment-->
    <add key="PathPasteFile" value="\\195.184.11.244\Company Data\File Attachment" />
    <!--<add key="PathPasteFile" value="\\195.184.11.244\Company Data\File Attachment" />-->
    <!--sample=>DecalPrinter-->
    <add key="PrinterBarcodeName" value="DecalPrinter" />
    <add key="PrinterDefaultName" value="" />
    <add key="PathLogoReport" value="" />
    <add key="PathSignature" value="W:\WMS-2012\Signatures\" />
    <add key="PathEmailAttach" value="W:\WMS-2012\Email Attachment\" />
    <add key="PathEmailAttachBN" value="\\195.184.11.244\wms\WMS-2012\Email Attachment\" />
    <!--sample=>C:\Users\ThinkPad\Desktop\report Receiving Order\image\-->
    <add key="PathEmployeePicture" value="W:\Employee Pictures\" />
    <add key="ContractTemplateFolder" value="W:\WMS-2017\Contract Templates\" />
    <!--<add key="ContractDocumentFolder" value="W:\For Marketing\Contract\" />-->
    <add key="ContractDocumentFolder" value="\\195.184.11.244\Operation\For Marketing\Contract\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <!--VNPT info-->
    <add key="ServiceUser" value="lineagevnst_service" />
    <add key="ServicePass" value="123456aA@" />
    <!--Mẫu hóa đơn-->
    <add key="ServicePattern" value="01GTKT0/001" />
    <!--Mã số hóa đơn Swire-->
    <add key="ServiceSerial" value="AA/20E" />
    <!--FTP M3 info-->
    <add key="FTPM3_User" value="tri" />
    <!--<add key="FTPM3_Pass" value="Nghia@2018" />-->
    <add key="FTPM3_Pass" value="trmSLms!fdgdf%1788" />
    <add key="FTPM3_URI" value="ftp://113.161.162.72/" />
    <add key="FTPM3_URI_Upload" value="ftp://113.161.162.72/M3Data/Export/" />
    <add key="URL_LAService" value="http://192.168.104.29:2222/api/SmartLog" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICallFormService" />
        <binding name="PublishServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PublishServiceSoap1" />
        <binding name="PortalServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PortalServiceSoap1" />
        <binding name="BusinessServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BusinessServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.104.29:825/CallFormService.svc/192.168.104.29:825" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICallFormService" contract="ServiceReferenceWebApp.ICallFormService" name="BasicHttpBinding_ICallFormService" />
      <endpoint address="https://lineagevnstadmindemo.vnpt-invoice.com.vn/PublishService.asmx" binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap" contract="VNPT_Publish.PublishServiceSoap" name="PublishServiceSoap" />
      <endpoint address="https://lineagevnstadmindemo.vnpt-invoice.com.vn/PortalService.asmx" binding="basicHttpBinding" bindingConfiguration="PortalServiceSoap" contract="VNPT_Portal.PortalServiceSoap" name="PortalServiceSoap" />
      <endpoint address="https://lineagevnstadmindemo.vnpt-invoice.com.vn/BusinessService.asmx" binding="basicHttpBinding" bindingConfiguration="BusinessServiceSoap" contract="VNPT_Bussiness.BusinessServiceSoap" name="BusinessServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>