<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Enitity config-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Yale</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseTahoma</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Office 2019 Colorful">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="248,248,248" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="72,70,68" />
                <SvgColor Name="Brush High" Value="72,70,68" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="7,117,104" />
                <SvgColor Name="Accent Paint Dark" Value="35,100,92" />
                <SvgColor Name="Accent Paint Light" Value="208,238,234" />
                <SvgColor Name="Accent Paint Lighter" Value="226,246,243" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="168,207,202" />
                <SvgColor Name="Red" Value="237,61,59" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="248,248,248" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="72,70,68" />
                <SvgColor Name="Brush High" Value="72,70,68" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="43,87,154" />
                <SvgColor Name="Accent Paint Dark" Value="18,64,120" />
                <SvgColor Name="Accent Paint Light" Value="213,225,242" />
                <SvgColor Name="Accent Paint Lighter" Value="229,238,249" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="165,185,210" />
                <SvgColor Name="Red" Value="237,61,59" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <!--Log 4net config-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/TPWMSLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!-- Framework config-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Thong tin ket noi den DB Test-->
  <connectionStrings>
    <add name="SwireDBEntities" connectionString="metadata=res://*/WMSModel.csdl|res://*/WMSModel.ssdl|res://*/WMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.41.11;initial catalog=WMSDB;persist security info=True;user id=WMSUser;password=WMSU!@#2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UI.Properties.Settings.SwireDBConnectionString" connectionString="Data Source=10.0.41.11;Initial Catalog=WMSDB;Persist Security Info=True;User ID=WMSUser" providerName="System.Data.SqlClient" />
    <add name="PlantDBContext" connectionString="Data Source=10.0.41.11;Initial Catalog=PlantDB;Persist Security Info=True;User ID=WMSUser;password=WMSU!@#2022" providerName="System.Data.SqlClient" />
    <add name="do-sql.SwireDB.WMSUser" connectionString="XpoProvider=MSSqlServer;data source=DO-SQL;user id=WMSUser;password=WMSU!@#2022;initial catalog=WMSDB;Persist Security Info=true" />
  </connectionStrings>
  <!--SQL in Entity config-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--App Setting-->
  <appSettings>
    <!-- sample=>C:\local-data-->
    <add key="PathCopyFile" value="C:\local-data" />
    <!--sample=>C:\do-fsv\File Attachment-->
    <add key="PathPasteFile" value="\\10.0.41.11\File Attachment" />
    <!--<add key="PathPasteFile" value="\\195.184.11.244\Company Data\File Attachment" />-->
    <!--sample=>DecalPrinter-->
    <add key="PrinterBarcodeName" value="DecalPrinter" />
    <add key="PrinterDefaultName" value="" />
    <add key="PathLogoReport" value="" />
    <add key="PathSignature" value="\\10.0.41.11\Signatures\" />
    <add key="PathEmailAttach" value="\\10.0.41.11\Email Attachment\" />
    <add key="PathEmailAttachBN" value="\\10.0.41.11\Email Attachment\" />
    <!--sample=>C:\Users\ThinkPad\Desktop\report Receiving Order\image\-->
    <add key="PathEmployeePicture" value="\\10.0.41.11\Employee Pictures\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ItemMasterData_Navi" value="http://10.0.41.11:1122/wms/ws/ItemMaster" />
    <add key="StoragePlanData_Navi" value="http://10.0.41.11:1122/wms/ws/StoragePlan" />
    <add key="RetrievalPlanData_Navi" value="http://10.0.41.11:1122/wms/ws/RetrievalPlan" />
    <add key="NaviIP" value="10.0.42.10" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICallFormService" />
        <binding name="PublishServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PublishServiceSoap1" />
        <binding name="PortalServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PortalServiceSoap1" />
        <binding name="BusinessServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BusinessServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.104.29:825/CallFormService.svc/192.168.104.29:825" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICallFormService" contract="ServiceReferenceWebApp.ICallFormService" name="BasicHttpBinding_ICallFormService" />
      <endpoint address="https://lineagevnstadmindemo.vnpt-invoice.com.vn/PublishService.asmx" binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap" contract="VNPT_Publish.PublishServiceSoap" name="PublishServiceSoap" />
      <endpoint address="https://lineagevnstadmindemo.vnpt-invoice.com.vn/PortalService.asmx" binding="basicHttpBinding" bindingConfiguration="PortalServiceSoap" contract="VNPT_Portal.PortalServiceSoap" name="PortalServiceSoap" />
      <endpoint address="https://lineagevnstadmindemo.vnpt-invoice.com.vn/BusinessService.asmx" binding="basicHttpBinding" bindingConfiguration="BusinessServiceSoap" contract="VNPT_Bussiness.BusinessServiceSoap" name="BusinessServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
      <bypassTrustedAppStrongNames enabled="false" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>